<div class="container">
  <!-- Vos images de cartes -->

  <!-- Joueur 1 -->
  <img src="assets/image_carte/AS_de_CARREAUX.png" alt="Carte 1" class="bottom-center card">

  <div class="bottom-center-hand">
    <span class="player1-name name">{{this.username}}</span>
    <img src="assets/image_carte/SIX_de_CARREAUX.png" alt="Main" class="card">
    <img src="assets/image_carte/SEPT_de_COEUR.png" alt="Main" class="card">
    <img src="assets/image_carte/HUIT_de_TREFLE.png" alt="Main" class="card">
    <img src="assets/image_carte/NEUF_de_PIQUE.png" alt="Main" class="card">
    <img src="assets/image_carte/Joker_rouge.png" alt="Main" class="card">
  </div>

  <!-- Ordi 1 -->
  <img src="assets/image_carte/DEUX_de_COEUR.png" alt="Carte 2" class="left-middle card rotated">

  <div class="left-middle-hand">
    <span class="ordi1-name name">Ordi 1</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
  </div>


  <!-- Ordi 2 -->
  <img src="assets/image_carte/TROIS_de_PIQUE.png" alt="Carte 3" class="top-left card">

  <div class="top-left-hand">
    <span class="ordi2-name name">Ordi 2</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
  </div>

  <!-- Ordi 3 -->
  <img src="assets/image_carte/QUATRE_de_TREFLE.png" alt="Carte 4" class="top-right card">

  <div class="top-right-hand">
    <span class="ordi3-name name">Ordi 3</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
  </div>

  <!-- Ordi 4 -->
  <img src="assets/image_carte/CINQ_de_CARREAUX.png" alt="Carte 5" class="right-middle card rotated">

  <div class="right-middle-hand">
    <span class="ordi4-name name">Ordi 4</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
  </div>

  <!-- Image de la pioche -->
  <img src="assets/image_carte/dos_carte.png" alt="Pioche" class="centered card pioche">

  <!-- Image du joker -->
  <img src="assets/image_carte/Joker_noir.png" alt="Joker" class="centered card joker">

</div>
