<div class="container">
  <!-- Vos images de cartes -->

  <!-- Joueur 1 -->
  <img src="assets/image_carte/As%20de%20carreaux.png" alt="Carte 1" class="bottom-center card">

  <div class="bottom-center-hand">
    <span class="player1-name name">Joueur 1</span>
    <img src="assets/image_carte/6%20de%20carreaux.png" alt="Main" class="card">
    <img src="assets/image_carte/7%20de%20coeur.png" alt="Main" class="card">
    <img src="assets/image_carte/8%20de%20trèfle.png" alt="Main" class="card">
    <img src="assets/image_carte/9%20de%20pique.png" alt="Main" class="card">
    <img src="assets/image_carte/Joker%20rouge.png" alt="Main" class="card">
  </div>

  <!-- Ordi 1 -->
  <img src="assets/image_carte/2%20de%20coeur.png" alt="Carte 2" class="left-middle card rotated">

  <div class="left-middle-hand">
    <span class="ordi1-name name">Ordi 1</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
  </div>


  <!-- Ordi 2 -->
  <img src="assets/image_carte/3%20de%20pique.png" alt="Carte 3" class="top-left card">

  <div class="top-left-hand">
    <span class="ordi2-name name">Ordi 2</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
  </div>

  <!-- Ordi 3 -->
  <img src="assets/image_carte/4%20de%20trèfle.png" alt="Carte 4" class="top-right card">

  <div class="top-right-hand">
    <span class="ordi3-name name">Ordi 3</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card">
  </div>

  <!-- Ordi 4 -->
  <img src="assets/image_carte/5%20de%20carreaux.png" alt="Carte 5" class="right-middle card rotated">

  <div class="right-middle-hand">
    <span class="ordi4-name name">Ordi 4</span>
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
    <img src="assets/image_carte/dos_carte.png" alt="Main" class="card rotated">
  </div>

  <!-- Image de la pioche -->
  <img src="assets/image_carte/dos_carte.png" alt="Pioche" class="centered card pioche">

  <!-- Image du joker -->
  <img src="assets/image_carte/Joker%20noir.png" alt="Joker" class="centered card joker">

</div>
