@import url('https://fonts.googleapis.com/css2?family=Game+Over&display=swap');

:host {
  font-family: 'Game Over', sans-serif; // Utilisation de la police Press Start 2P
  background-color: #01203c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 93vh; // Ajuste la hauteur de l'élément à la taille de la fenêtre

  .centered {
    text-align: center;
    width: 100%;
    flex-grow: 1; // Pour occuper tout l'espace disponible en hauteur
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom-left {
    margin-bottom: 10px; // Ajoute un espacement en bas pour le bouton "Paramètres"
    margin-left: 10px; // Ajoute un espacement à gauche pour le bouton "Paramètres"
  }

  .logo {
    width: 400px; // Ajustez la taille selon vos besoins (plus grand que précédemment)
  }

  .btn {
    margin: 10px;
    padding: 15px 30px;
    width: 200px; // Largeur fixe pour tous les boutons
    font-size: 1.2em;
    background-color: white;
    color: black; // Changement de couleur du texte en noir
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0074D9; // Changement de couleur au survol
    }
  }
}

