:host {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90vh; /* Utilisation de 100vh pour occuper la taille de l'écran */
  background: linear-gradient(45deg, #0a3047, #061b2d, #01203c, #040f19, #061b2d, #0a3047, #01203c);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;

  .centered {
    width: 100%;
    height: 90%; /* Ajustement de la hauteur pour occuper 90% de la taille de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* CSS */
  .bottom-right, .bottom-left {
    position: absolute;
    bottom: 0;
  }

  /* CSS */
  .bottom-right {
    width: 3%;
    right: 0;
    margin-bottom: 2%; /* Espacement par rapport au bas de la fenêtre */
    margin-right: 5%; /* Espacement par rapport au bord droit de la fenêtre */
    text-align: right; /* Aligner l'image à droite */
  }

  .help-btn {
    margin-top: 2%;
  }

  .bottom-left {
    width: 5%;
    left: 0;
    margin-bottom: 2%; /* Espacement par rapport au bas de la fenêtre */
    margin-left: 5%; /* Espacement par rapport au bord gauche de la fenêtre */
    text-align: left; /* Aligner l'image à gauche */
  }

  .clickable-image {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .logo {
    width: 20%; // Ajustez la taille selon vos besoins (plus grand que précédemment)
  }
}
