<div class="login-container">
  <h1>Login To Play!</h1>
  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="user.username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" required><br>
    <button type="submit">Login</button>
  </form>
  <button (click)="goToRegister()">Register</button>
</div>
<img src="assets/back.png" alt="Back" class="back-img clickable-image" (click)="goBack()">
